<% title t("Administration") %>
<ul>
  <li><%=link_to t('Category'), admin_categories_path%></li>
  <li><%=link_to t('User'), admin_users_path%></li>
  <li><%=link_to t('Question'), admin_questions_path %></li>
  <li><%=link_to t('user_approval'), approve_admin_users_path %></li>
</ul>