<div style="float:left">
<input type="checkbox" value="" id="auto-<%=name%>" />
<input type="button" class="ability" id="<%=name%>" value="<%=title%>" />
<div class="ability-progressbar" id="progressbar-<%=name%>" style="width:0;height:20px;background:blue"></div>
</div>

