<div id="character-<%= id%>" class="character">
<div class="combatinfo"></div>
<div><span class="name"><%= name %></span></div>
<div class="boundedbar hpbar"><div></div></div>
<div class="hpinfo"><span class="hp"><%= hp %></span> / <span class="hpmax"><%= hp %></span></div>
<div class="buff"></div>
</div>